{% extends "root/base.html" %} {% block title %} Jels Fashion House {% endblock
%} {% block content %}


<!-- Hero Section Begin -->
<section class="hero">
  <div class="">
    <div class="about__pic">
      <img src="../../static/root/img/about/about.jpg" alt="" />
    </div>
  </div>
</section>
<!-- Hero Section Ends -->

<!-- About Section Begin -->
<section class="about spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about__item">
          <h4>Who We Are</h4>
          <p>
            Mukfau Global Enterprises is a brand built on trust, driven by
            quality, and committed to customer satisfaction. We specialize in
            premium duvet beddings, elegant interiors, and support services like
            CAC business registration. At our core, we’re a team passionate
            about helping you create a space—and a future—you can be proud of.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about__item">
          <h4>Our Mission</h4>
          <p>
            At Mukfau Global Enterprises, our mission is to deliver quality,
            comfort, and trust through every product and service we offer. We
            aim to enhance living spaces with elegance and support entrepreneurs
            with reliable business solutions—all grounded in integrity and
            excellence.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about__item">
          <h4>What we do</h4>
          <p>Interior Design</p>
          <p>Beddings</p>
          <p>Curtains</p>
          <p>Duvets</p>
          <p>CAC Business Registration</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div
          class="testimonial__pic set-bg"
          data-setbg="../../static/root/img/about/testimonial-pic.jpg"
        ></div>
      </div>

      <div class="col-lg-6 p-0">
        <div class="testimonial__text">
          <p>
            “Going out after work? Take your butane curling iron with you to the
            office, heat it up, style your hair before you leave the office and
            you won’t have to make a trip back home.”
          </p>
          <div class="testimonial__author">
            <div class="testimonial__author__pic">
              <img
                src="../../static/root/img/about/testimonial-author.jpg"
                alt=""
              />
            </div>
            <div class="testimonial__author__text">
              <h5>Augusta Schultz</h5>
              <p>Fashion Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial Section End -->

<!-- Counter Section Begin -->
<section class="counter spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">102</h2>
          </div>
          <span>Our <br />Clients</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">30</h2>
          </div>
          <span>Total <br />Categories</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">102</h2>
          </div>
          <span>In <br />Country</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">98</h2>
            <strong>%</strong>
          </div>
          <span>Happy <br />Customer</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter Section End -->

<!-- Client Section Begin -->
<section class="clients spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Partner</span>
          <h2>Happy Clients</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-1.png" alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-2.png" alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-3.png" alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-4.png" alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-5.png" alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-6.png" alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-7.png" alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img src="../../static/root/img/clients/client-8.png" alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
<!-- Client Section End -->

{% endblock %}
