{% extends "root/base.html" %} {% block title %} Jels Fashion House || Contact
Us {% endblock %} {% block content %}

<!-- Contact Section Begin -->
<section class="contact spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__text">
          <div class="section-title">
            <span>Information</span>
            <h2>Contact Us</h2>
            <p>
              We’d love to hear from you! Whether you have questions, need
              assistance, or want to learn more about our products and services,
              feel free to reach out. Our team is ready to help and ensure you
              have the best experience with Mukfau Global Enterprises.
            </p>
          </div>
          <ul>
            <li>
              <h4>America</h4>
              <p>
                195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958
              </p>
            </li>
            <li>
              <h4>France</h4>
              <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" placeholder="Name" />
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Email" />
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Message"></textarea>
                <button type="submit" class="site-btn">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->

{% endblock %}
