alembic
bcrypt
blinker
cffi
click
colorama
cryptography
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector
mysql-connector-python
protobuf
pycparser
PyMySQL
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
